# ignore config files
pythonCode/config.csv.txt

*.iml
GarageDoorOpener/.gradle
GarageDoorOpener/.idea
GarageDoorOpener/local.properties

# ignore build files
GarageDoorOpener/app/build/*

GarageDoorOpener/app/build.gradle.kts
GarageDoorOpener/app/proguard-rules.pro
GarageDoorOpener/gradle

# some settings files for app.
GarageDoorOpener/settings.gradle.kts
GarageDoorOpener/build.gradle.kts
GarageDoorOpener/gradle.properties
GarageDoorOpener/gradlew.bat

GarageDoorOpener/local_properties

GarageDoorOpener/pythonCode/config.csv
GarageDoorOpener/pythonCode/keys/
GarageDoorOpener/pythonCode/logfile.csv
GarageDoor/pythonCode/__pycache__/
