# ignore config files
pythonCode/config.csv.txt

*.iml
GarageDoorOpener/.gradle
GarageDoorOpener/.idea
GarageDoorOpener/local.properties

# ignore build files
GarageDoorOpener/app/build/*

GarageDoorOpener/app/build.gradle.kts
GarageDoorOpener/app/proguard-rules.pro
GarageDoorOpener/gradle

# some settings files for app.
GarageDoorOpener/settings.gradle.kts
GarageDoorOpener/build.gradle.kts
GarageDoorOpener/gradle.properties
GarageDoorOpener/gradlew
GarageDoorOpener/gradle.bat
GarageDoorOpener/local_properties
